.bg-index{
  color: #FFFEF6;
  background-size: 100% auto;
}
.navbar a.nav-link {
  color: black !important;
}
.bg-dark {
  background-color: #EDEDED !important;
}
.ms-footer {
  margin-top: auto;
  background-color: #FFFEF6;
}
.ms-footer p {
  color: #FFFEF6;
  font-size: 13px;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom span{
  color: #FFFEF6;
  font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}

.img-card-200 {
  padding:0px;
  width: fit-content;
  height: 125px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}

.flex-wrapper {
  min-height: 50vh !important;
  flex-direction: column;
  justify-content: flex-start;
}
.body {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  max-height: 25vh !important;
}

.mainBody {
  min-height: 50vh;
}

.banner {
  font-size: 40px;
  color: black;
  padding-left: 10px !important;
}
.card-img-top {
    max-width: 225px;
    min-width: 150px;
    object-fit: cover;
  padding: 0px !important;
}

.size-btn {
  background-color: #EDEDED !important;
  font-size: 15px !important;
}
.add-to-cart-btn {
  border-radius: 50%;
  width: 100px;
  background-color: black !important;

}