{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
  .container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  padding: 2px;
}
.container > div {
  padding: 0px;
}
.container > div.header {
  background-color: #6ab43e;
  grid-area: header;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
  border-right: 2px solid black;
  min-height: 66vh;
}
.container > div.content {
  grid-area: content;
  padding-top: 30px !important;
}
.container > div.footer {
  background-color: #2E2E2E;
  grid-area: footer;
}

</style>
  <div class="container">
    <div class="menu">
      <div class="row mt-3">
        <div class="col mx-auto mb-3">
          <h2>Filters</h2>
          <hr />
          <p class="card-text">
            <div>Size:</div>
            <select class="form-select" name="sizeFilter" aria-label="Default select example">
            <option selected>Select Size</option>>
            {% for size in template_data.sizes %}
            <option> {{size}} </option>
            {% endfor %}
            </select>
            <div>Price:</div>
            <select class="form-select" name="sizeFilter" aria-label="Default select example">
            <option selected>Select Price Range</option>>
              <option> $0-$20</option>>
              <option> $20-$40</option>>
              <option> $40-$60</option>>
              <option> $60-$80</option>>
              <option> $80-$100</option>>
            </select>
          <div>Brands</div>
          {% for shoe in template_data.shoes %}
            <div class="row">
              <span>
                <input type="checkbox" id={{shoe.brand}} name={{shoe.brand}} value={{shoe.brand}}> <label for={{shoe.brand}}> {{shoe.brand}}</label>
              </span>
            </div>{% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="content" style=" min-height:70vh; max-height:100vh; overflow-y: scroll !important; overflow-x:hidden; padding-left: 10px !important; padding-right: 10px !important;" >
      <div class = "row">
        <h2>Shoes</h2>
        <form method="GET">
            <div class="row" style="padding-bottom: 15px;">
              <div class="col-auto">
                <div class="input-group col-auto">
                  <div class="input-group-text">Search</div>
                  <input type="text" class="form-control" name="search">
                  </div>
                  </div>
                <div class="col-auto"><button class="btn bg-dark text-black" type="submit">Search</button>
              </div>
            </div>
        </form>
        {% for shoe in template_data.shoes %}
        <div class="col-md-4 col-lg-3" style="padding: 10px">
          <div class="card align-items-center pt-4" style="padding-top:0px !important; text-align: left !important; padding-bottom: 0px !important;">
            <img src="{{shoe.image.url}}" class="card-img-top" style="width: fit-content; height: 20vh;">
            <div class="card-body" style="padding-bottom: 0px; margin-left: 2px">
              <p class="card-title" style="padding-left: 5px;"> {{shoe.name}} </p>
              <a style="width:225px" href="{% url 'shop.show' id=shoe.shoe_number %}" class="btn bg-dark "> {{ shoe.name }} </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
